#!/bin/bash
# Configuration for environment variables in CI testing

set -e

source ./tools/resolve-env.sh

# Should be 'local' for local development
# development, qa, and production for Heroku pipeline
export WP_ENV=local

# Web port
export PORT=8080

# Database connection
export CLEARDB_DATABASE_URL=mysql://wordpress:password@$DATABASE_HOST:$DATABASE_PORT/wordpress

# Redis connection
export REDIS_URL=redis://$REDIS_HOST:$REDIS_PORT

# S3 credentials
export S3_UPLOADS_BUCKET=replace
export S3_UPLOADS_KEY=replace
export S3_UPLOADS_SECRET=replace
export S3_UPLOADS_REGION=eu-central-1
